form {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}
div {
    margin: 10px 0;
    display: flex;
}
div.alpaca-status, div.alpaca-color, div.output {
    flex-direction: column;
}
div label {
    margin-right: 10px;
}
div input, div select {
    flex-grow: 1;
}
ul {
    /* tried adding "list-style-type: none;" here but it wasn't working? I added it to the HTML and that seemed to work? */
    margin: 0;
    padding: 0;
}
li {
    margin: 5px 0;
}